<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" action= {% url 'blogapp:regist' %}>
<label for="Username">Username:</label>
  <input type="text" id="Username" name="Username" ><br><br>
  <label for="Password">Password:</label>
    <input type="text" id="Password" name="Password"><br>
     <label for="Email">Email:</label>
    <input type="text" id="Email" name="Email"><br>
    <input type="submit" value="Registration"/>


</form>
</body>
</html>